<!DOCTYPE html>
<html>
  <head>
    <title>SCRiPTS PSI</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
  </head>
  <body>
    <div class="testbox">
      <form>
        <div class="banner">
          <h1>PRIVATE SET INTERSECTION DEMO</h1>
        </div>
        <div><h2>PSI computation completed!</h2></div>
        <div><p>Sender has sent <mark>{{comm[0]}}</mark> Bytes and received <mark>{{comm[1]}}</mark> Bytes.</p></div>
      </form>
    </div>
  </body>
</html>
